In [ ]:
!pip install pyodbc
!pip install requests
import pandas as pd
import pyodbc
import requests # Fixed import statement

# ... (Rest of your code) ...
API_KEY = '1afe5cda384f0d71887086d3367612ce'
SQL_Server = 'MANISH-LAPTOP'
DATABASE = '[CB-Database]'
USERNAME = ''
PASSWORD = ''
def extract_data(api_key):
  url = 'https://api.themoviedb.org/3/movie/top_rated?api_key=1afe5cda384f0d71887086d3367612ce&language=en-US&page=1%27'
  response = request.get(url)
  if response.status_code == 200:
    return response.json()['result'][:20]
  else:
    print('Error Fetching data from TMDb API:',response.status_code)
    return []
    def transform_data(raw_data):
  df = pd.DataFrame(raw_data)
  df = df[['id','title','overview','release_date','popularity','vote_average','vote_count']]
  df.columns = ['Movie_id','Title','Overview','Release_date','Popularity','Vote_average','Vote_count']
  return df
  def load_data_to_sql(df):
    connection_string = f'DRIVER={{SQL Server}};SERVER={SQL_Server};DATABASE={DATABASE};UID={USERNAME};PWD={PASSWORD}'
    with pyodbc.connect(connection_string) as conn:
        cursor = conn.cursor()
        # The rest of your code that interacts with the database connection goes here
        cursor.execute('''
IF NOT EXISTS(SELECT*FROM sysobjects WHERE name='Top_Rated_Movies' AND xtype='U')
CREATE TABLE Top_Rated_Movies(
  MOVIE_ID INT PRIMARY KEY,
  MOVIE_TITLE NVARCHAR(255) NOT NULL,
  OVERVIEW TEXT,
  RELEASE_DATE DATE,  -- Added comma here
  POPULARITY FLOAT,
  VOTE_AVERAGE FLOAT,
  VOTE_COUNT INT
)
''')
for index,row in df.iterrows():
  cursor.execute('''
  INSERT INTO Top_Rated_Movies(MOVIE_ID,MOVIE_TITLE,OVERVIEW,RELEASE_DATE,POPULARITY,VOTE_AVERAGE,VOTE_COUNT)
  VALUES(?,?,?,?,?,?,?)
  ''', row['Movie_id'],row['Title'],row['Overview'],row['Release_date'],row['Popularity'],row['Vote_average'],row['Vote_count'])
  conn.commit()
  def run_etl():
  raw_data = extract_data(API_KEY)
  transformed_data = transform_data(raw_data)
  load_data_to_sql(transformed_data)
  print('ETL process completed successfully...')

run_etl()